@using MVC_App_DepartmentEmployee.core.entities
@using MVC_App_DepartmentEmployee.ViewModels
@model MVC_App_DepartmentEmployee.ViewModels.DepartmentEmployeeViewModels

<div class="container">
    <div class="card">
        <h2>Çalışan Bilgilerini Güncelle</h2>
        <form asp-action="Edit">

            <input type="hidden" asp-for="Employee.EmployeeId" />

            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="Employee.EmployeeName" class="form-label"></label>
                <input asp-for="Employee.EmployeeName" class="form-control" />
                <span asp-validation-for="Employee.EmployeeName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmployeeAge" class="form-label"></label>
                <input asp-for="Employee.EmployeeAge" class="form-control" />
                <span asp-validation-for="Employee.EmployeeAge"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmployeeAdress" class="form-label"></label>
                <input asp-for="Employee.EmployeeAdress" class="form-control" />
                <span asp-validation-for="Employee.EmployeeAdress"></span>
            </div>

            <div class="form-group">
                <label asp-for="Employee.Department" class="form-label">Departman</label>
                <select asp-for="Employee.DepartmentId" class="form-control">
                    @foreach(var department in Model.Department)
                    {
                        <option value="@department.DepartmentId">@department.DepartmentName</option>
                    }
                </select>
                <span asp-validation-for="Employee.EmployeeAge"></span>
            </div>
			
            <div class="form-group">
                <input type="submit" class="btn" value="Kaydet" />
                <a asp-action="Index" class="btn">Listeye geri dön</a>
            </div>
        </form>
    </div>
</div>